<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Neon Downloader Pro</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>⚡ NEON DOWNLOADER PRO</h1>

    <input id="url" placeholder="Cole o link do YouTube">

    <div class="buttons">
        <button onclick="baixar('mp3')">Baixar MP3 🎧</button>
        <button onclick="baixar('mp4')">Baixar MP4 🎬</button>
    </div>

    <div id="status"></div>
</div>

<script src="/static/app.js"></script>
</body>
</html>